
.Homeicon{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color:rgb(197,122,255);
    height: 400px;
    width: 50%;
    color: white;
}

.pie {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-image: conic-gradient(
        rgb(254,112,150) 0 135deg,
        rgb(115,181,241) 135deg 255.96deg,
        rgb(109,211,200) 255.96deg 295.56deg,
        rgb(153,161,246) 295.56deg 317.16deg
    );
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #dde7ff 0 10px;
    animation: pie 3s;
  }
  
  .pie:hover .inner-circle {
    box-shadow: #d2ddf6 0 0 10px 10px inset;
  }
  
  .inner-circle {
    width: 50%;
    height: 50%;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #dde7ff 0 10px inset;
  }
  
.Dashboardimg{
  height: 230px;
  width: 100%;
  transition: all 2s,2s;
}  

.outerDashbord{
  height: 245px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.row2{
  height: 600px;
}
.row4{

  width: 100%;
  height: 900px;
}
.headericon{
  height: 100px;
  width: 50%;
}